<%- include ../../partials/nav %>
<%- include ../../partials/household_top %>

<div class="body-content">
    <div class="content-bottom">
        <form action="/household/messages" method="POST" enctype="multipart/form-data" autocomplete="off">
            <input type="text" name="title" placeholder="title">
            <input type="text" name="content" placeholder="content">
            <div><i class="far fa-caret-square-down fa-2x"></i></div>
            <label><i class="fas fa-paperclip fa-2x" id="paper-clip"></i>
            <input type="file" name="image" id="file-upload">
            </label>

            <input type="submit" value="post" id="submitbtn">
        </form>
    </div>
    <div id="notification">
            <h2>New message posted!</h2>
            <button onclick=location.reload()>reload</button>
        </div>
    <div class="content">
            <a href="/household">
                <i class="fas fa-arrow-left fa-3x"></i>
            </a>
    <% if (messages.length > 0) {
        messages.reverse().forEach(function(m) { %>
        <div class="one-msg">
            <h3><%= m.author %></h3>
            <h2><%= m.title %></h2>
            <p><%= m.content %></p>
            <% if (m.picture) {%>
                <img src="<%=m.picture%>" alt="pic">
            <%}%>
            <form action="/household/messages/<%=m._id%>?_method=DELETE" method="POST">
                <button type="submit" value="delete" class="deletebtn">delete</button>
            </form>
        </div>
         <%})
    } else { %>
    <p>no messages yet</p>
    <%}%>
    <!-- <form action="/api/images" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="post image">
    </form> -->

</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/messages.js"></script>
</div>
<%- include ../../partials/footer %>