<%- include ../../partials/nav %>
<%- include ../../partials/household_top %>

<div class="content">
        <a href="/household">
            <i class="fas fa-arrow-left fa-3x"></i>
        </a>


        <% let total = 0;
        if (household.spendings.length > 0) { %>
            <ul>
                <% household.spendings.forEach(function(s) {%> 
                    <li><%= s.description %></li>
                    <li>amount: $<%=s.amount %></li>
                    <form action="/household/spendings/<%=s._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="&times;">
                    </form>
                <% total+= s.amount
            })%>
            </ul>
        <% } else { %>
            <p>yeah, no spendings yet!!</p>
        <% } %>
        <hr>
        <form action="/household/spendings" method="POST">
        <label>
            Description: 
            <input type="text" name="description" placeholder="description" required="required">
        </label>
        <label>
            Amount $
            <input type="text" name="amount" placeholder="0" pattern="[0-9]{1,}" required="required">
        </label>
        <input type="submit" value="Add">
        </form>
        <hr>
        <p> total is $<%= total %></p>
        <form action="/household/spendings?_method=DELETE" method="POST">
            <input type="submit" value="reset">
        </form>
</div>
</body>
</html>

