<%- include ../../partials/nav %>
<%- include ../../partials/household_top %>
<div class="body-content">
    <div class="content-bottom">
        <form action="/household/spendings" method="POST" autocomplete="off">
            <input type="text" name="description" placeholder="description" required="required">
            <input type="text" name="amount" placeholder="0" pattern="[0-9]{1,}.\d\d" title="Only two decimal places allowed..."required="required">
            <div>
            </div>
            <div></div>
            <input type="submit" value="Add">
            </form>
        </div>
<div class="content">
        <a href="/household">
            <i class="fas fa-arrow-left fa-3x"></i>
        </a>
        <h2>Spendings</h2>
        <% let total = 0;
        if (household.spendings.length > 0) { %>
                <% household.spendings.forEach(function(s) {%> 
                    <div class="one-item">
                        <div><%= s.description %></div>
                        
                        <div class="buttons">
                        <div class="quantity">$<%=s.amount %></div>
                        <form action="/household/spendings/<%=s._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="&times;" class="deletebtn">
                        </form>
                        </div>
                    </div>
                <% total+= s.amount
            })%>
            </ul>
        <% } else { %>
            <p>yeah, no spendings yet!!</p>
        <% } %>
        

        <div id="total">
        <p> total is $<%= total.toFixed(2) %></p>
        <p class="small-p">that's <%= (total/household.members.length).toFixed(2)%> per member...</p>
        <form action="/household/spendings?_method=DELETE" method="POST">
            <input type="submit" value="reset" class="deletebtn">
        </form>
        </div>
</div>
</div>

<%- include ../../partials/footer %>

