<%- include ../../partials/nav %>
<%- include ../../partials/household_top %>
<a href="/household">back</a>
<% if (user.household.shoppingList) { %>
    <div>
        <h2> <%=user.household.shoppingList.name%> </h2>
        <% if (user.household.shoppingList.length > 0) { %>
            <ul>
                <% user.household.shoppingList.forEach(function(i) { %>
                    <li> <%=i.name%>
                    <form action="/household/shopping/<%= i._id %>?_method=DELETE" method="POST">
                        <button class="deletebtn" type="submit">X</button>
                    </form>
                    <form action="/household/shopping/<%= i._id %>/edit" method="GET">
                        <button class="editbtn" type="submit">EDIT</button>
                    </form>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p> no items yet </p>
        <% } %>
        <form action="/household/shopping" method="POST" autocomplete="off">
            <input type="text" name="name" placeholder="items name">
            <input type="text" name="quantity" placeholder="how many">
            <input type="checkbox" name="urgent"> urgent<br>
            <input type="submit" value="add">
        </form>
    </div>
<% } else { %>
    <p>no shopping yet...</p>
    <form action="/household/shopping" method="POST">
    <label>
        Create Shopping List:
        <input type="text" name="name" placeholder="name of new shopping list">
        <input type="submit" value="Create">
    </label>
    </form>
<%}%>