<%- include ../../partials/nav %>
<%- include ../../partials/household_top %>
<% if (user.household.shoppingList) { %>
<div class="body-content">
<div class="content-bottom">
        <form action="/household/shopping" method="POST" autocomplete="off">
            <input type="text" name="name" placeholder="items name" required="required">
            <input type="text" name="quantity" placeholder="how many" pattern="[0-9]{1,}" title="The value must be a number" required="required">
            <div></div>
            <div><input type="checkbox" name="urgent"> urgent</div>
            <input type="submit" value="&#43;" class="addbtn">
        </form>
    </div>
<div class="content">
    <a href="/household">
        <i class="fas fa-arrow-left fa-3x"></i>
    </a>
    <h2> My shopping </h2>
    <% if (user.household.shoppingList.length > 0) { 
        user.household.shoppingList.sort(function(x,y) {
            return (x.urgent===y.urgent) ? 0 : x.urgent? -1 : 1;
        })%>
        <hr>
        <% user.household.shoppingList.forEach(function(i) { %>
        <div class="one-item  <%= (i.urgent) ? 'urgent' : '' %>"
           
        >
            <h4><%=i.name%></h4>
            <div class="buttons">
            <div class="quantity"><%= i.quantity %></div>
            <form action="/household/shopping/<%= i._id %>?_method=DELETE" method="POST" >
                <button class="deletebtn" type="submit">X</button>
            </form>
            <form action="/household/shopping/<%= i._id %>/edit" method="GET">
                <button class="editbtn" type="submit">EDIT</button>
            </form>
            </div>
        </div>
        <% }) %>
    <% } else { %>
    <p> no items yet </p>
    <% } %>
</div>
<% } else { %>
<p>no shopping yet...</p>
<%}%>

</div>
</div>
<%- include ../../partials/footer %>