<%- include ../../partials/nav %>
<%- include ../../partials/household_top %>


<div class="content-msg">
        <a href="/household">
            <i class="fas fa-arrow-left fa-3x"></i>
        </a>
        
        <a href="/household/members/invite">invite new members</a>

        <% household.members.forEach( member => {%>

            <div class="member-card">
                <img src="<%=member.profilePic%>" alt="profile picture">
                name: <%= member.name %>
                <form action="/household/members/<%=member._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="delete">
                </form>
            </div>

        <%})%>
</div>