<%- include ../../partials/nav %>
<%- include ../../partials/household_top %>
<a href="/household">back</a>

<div>
    <form action="/household/tasks/<%= chore._id %>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%= chore.name %>">
        <input type="text" name="description" value="<%= chore.description %>" >
        <input type="date" name="deadline" value="<%= date %>">
        
        <input type="submit" value="update">
    </form>
</div>